<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dazhumei.love.ip.dao.TestipMapper" >
  <resultMap id="BaseResultMap" type="com.dazhumei.love.ip.entity.Testip" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="root" property="root" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="success" property="success" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, root, password, ip, success
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_testip
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_testip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dazhumei.love.ip.entity.Testip" >
    insert into p_testip (id, root, password, 
      ip, success)
    values (#{id,jdbcType=INTEGER}, #{root,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{success,jdbcType=VARCHAR})
  </insert>
  
  <!-- 批量添加 -->
	<insert id="addTestipList" parameterType="java.util.List">
        insert into p_user (root, password, ip, success)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.root,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, #{item.ip,jdbcType=VARCHAR}, #{item.success,jdbcType=VARCHAR})
        </foreach>
    </insert>
  
  <!-- 添加 -->
  <insert id="addTestip" parameterType="com.dazhumei.love.ip.entity.Testip" >
    insert into p_testip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="root != null" >
        root,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="success != null" >
        success,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="root != null" >
        #{root,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        #{success,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.dazhumei.love.ip.entity.Testip" >
    update p_testip
    <set >
      <if test="root != null" >
        root = #{root,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        success = #{success,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dazhumei.love.ip.entity.Testip" >
    update p_testip
    set root = #{root,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      success = #{success,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>