<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dazhumei.love.postbar.dao.PostMapper">
	<resultMap id="BaseResultMap" type="com.dazhumei.love.postbar.entity.Post">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="postbarid" property="postbarid" jdbcType="VARCHAR" />
		<result column="repnum" property="repnum" jdbcType="VARCHAR" />
		<result column="pauthor" property="pauthor" jdbcType="VARCHAR" />
		<result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
		<result column="lastpeople" property="lastpeople" jdbcType="VARCHAR" />
		<result column="last_time" property="lastTime" jdbcType="VARCHAR" />
		<result column="posturl" property="posturl" jdbcType="VARCHAR" />
		<result column="posttitle" property="posttitle" jdbcType="LONGVARCHAR" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, postbarid, repnum, pauthor, creat_time, lastpeople, last_time,
		posturl,posttitle, content
	</sql>

	<!-- 查处某个贴吧的所以帖子 -->
	<select id="selectPostByPostbarid" resultMap="BaseResultMap" parameterType="java.lang.String" >
	select
	<include refid="Base_Column_List" />
	from p_post
	where postbarid = #{postbarid,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除某个贴吧的所以帖子 -->
	<delete id="deletePostByPostbarid" parameterType="java.lang.String" >
	delete from p_post
	where postbarid = #{postbarid,jdbcType=VARCHAR}
	</delete>
	
<!-- 	<insert id="insert" parameterType="com.dazhumei.love.postbar.entity.PostWithBLOBs"> -->
<!-- 	insert into p_post (id, postbarid, repnum, -->
<!-- 	pauthor, creat_time, lastpeople, -->
<!-- 	last_time, posturl, posttitle, -->
<!-- 	content) -->
<!-- 	values (#{id,jdbcType=VARCHAR}, #{postbarid,jdbcType=VARCHAR}, #{repnum,jdbcType=VARCHAR}, -->
<!-- 	#{pauthor,jdbcType=VARCHAR}, #{creatTime,jdbcType=VARCHAR}, #{lastpeople,jdbcType=VARCHAR}, -->
<!-- 	#{lastTime,jdbcType=VARCHAR}, #{posturl,jdbcType=VARCHAR}, #{posttitle,jdbcType=LONGVARCHAR}, -->
<!-- 	#{content,jdbcType=LONGVARCHAR}) -->
<!-- 	</insert> -->
	
	<!-- 批量添加 -->
	<insert id="insertPostList" parameterType="java.util.List">
        insert into p_post (id, postbarid, repnum,pauthor, creat_time, lastpeople,last_time, posturl, posttitle,content)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.postbarid,jdbcType=VARCHAR}, #{item.repnum,jdbcType=VARCHAR},
			#{item.pauthor,jdbcType=VARCHAR}, #{item.creatTime,jdbcType=VARCHAR}, #{item.lastpeople,jdbcType=VARCHAR},
			#{item.lastTime,jdbcType=VARCHAR}, #{item.posturl,jdbcType=VARCHAR}, #{item.posttitle,jdbcType=LONGVARCHAR},
			#{item.content,jdbcType=LONGVARCHAR})
        </foreach>
    </insert>

	<!-- 添加帖子 -->
	<insert id="insertPost" parameterType="com.dazhumei.love.postbar.entity.Post">
		insert into p_post
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="postbarid != null">
				postbarid,
			</if>
			<if test="repnum != null">
				repnum,
			</if>
			<if test="pauthor != null">
				pauthor,
			</if>
			<if test="creatTime != null">
				creat_time,
			</if>
			<if test="lastpeople != null">
				lastpeople,
			</if>
			<if test="lastTime != null">
				last_time,
			</if>
			<if test="posturl != null">
				posturl,
			</if>
			<if test="posttitle != null">
				posttitle,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="postbarid != null">
				#{postbarid,jdbcType=VARCHAR},
			</if>
			<if test="repnum != null">
				#{repnum,jdbcType=VARCHAR},
			</if>
			<if test="pauthor != null">
				#{pauthor,jdbcType=VARCHAR},
			</if>
			<if test="creatTime != null">
				#{creatTime,jdbcType=VARCHAR},
			</if>
			<if test="lastpeople != null">
				#{lastpeople,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=VARCHAR},
			</if>
			<if test="posturl != null">
				#{posturl,jdbcType=VARCHAR},
			</if>
			<if test="posttitle != null">
				#{posttitle,jdbcType=LONGVARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>


	<!-- <update id="updateByPrimaryKeySelective" parameterType="com.dazhumei.love.postbar.entity.PostWithBLOBs" 
		> -->
	<!-- update p_post -->
	<!-- <set > -->
	<!-- <if test="postbarid != null" > -->
	<!-- postbarid = #{postbarid,jdbcType=VARCHAR}, -->
	<!-- </if> -->
	<!-- <if test="repnum != null" > -->
	<!-- repnum = #{repnum,jdbcType=VARCHAR}, -->
	<!-- </if> -->
	<!-- <if test="pauthor != null" > -->
	<!-- pauthor = #{pauthor,jdbcType=VARCHAR}, -->
	<!-- </if> -->
	<!-- <if test="creatTime != null" > -->
	<!-- creat_time = #{creatTime,jdbcType=VARCHAR}, -->
	<!-- </if> -->
	<!-- <if test="lastpeople != null" > -->
	<!-- lastpeople = #{lastpeople,jdbcType=VARCHAR}, -->
	<!-- </if> -->
	<!-- <if test="lastTime != null" > -->
	<!-- last_time = #{lastTime,jdbcType=VARCHAR}, -->
	<!-- </if> -->
	<!-- <if test="posturl != null" > -->
	<!-- posturl = #{posturl,jdbcType=VARCHAR}, -->
	<!-- </if> -->
	<!-- <if test="posttitle != null" > -->
	<!-- posttitle = #{posttitle,jdbcType=LONGVARCHAR}, -->
	<!-- </if> -->
	<!-- <if test="content != null" > -->
	<!-- content = #{content,jdbcType=LONGVARCHAR}, -->
	<!-- </if> -->
	<!-- </set> -->
	<!-- where id = #{id,jdbcType=VARCHAR} -->
	<!-- </update> -->
	<!-- <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dazhumei.love.postbar.entity.PostWithBLOBs" 
		> -->
	<!-- update p_post -->
	<!-- set postbarid = #{postbarid,jdbcType=VARCHAR}, -->
	<!-- repnum = #{repnum,jdbcType=VARCHAR}, -->
	<!-- pauthor = #{pauthor,jdbcType=VARCHAR}, -->
	<!-- creat_time = #{creatTime,jdbcType=VARCHAR}, -->
	<!-- lastpeople = #{lastpeople,jdbcType=VARCHAR}, -->
	<!-- last_time = #{lastTime,jdbcType=VARCHAR}, -->
	<!-- posturl = #{posturl,jdbcType=VARCHAR}, -->
	<!-- posttitle = #{posttitle,jdbcType=LONGVARCHAR}, -->
	<!-- content = #{content,jdbcType=LONGVARCHAR} -->
	<!-- where id = #{id,jdbcType=VARCHAR} -->
	<!-- </update> -->
	<!-- <update id="updateByPrimaryKey" parameterType="com.dazhumei.love.postbar.entity.Post" 
		> -->
	<!-- update p_post -->
	<!-- set postbarid = #{postbarid,jdbcType=VARCHAR}, -->
	<!-- repnum = #{repnum,jdbcType=VARCHAR}, -->
	<!-- pauthor = #{pauthor,jdbcType=VARCHAR}, -->
	<!-- creat_time = #{creatTime,jdbcType=VARCHAR}, -->
	<!-- lastpeople = #{lastpeople,jdbcType=VARCHAR}, -->
	<!-- last_time = #{lastTime,jdbcType=VARCHAR}, -->
	<!-- posturl = #{posturl,jdbcType=VARCHAR} -->
	<!-- where id = #{id,jdbcType=VARCHAR} -->
	<!-- </update> -->


</mapper>